/* 1 */
header {
    border: 1px solid goldenrod;
}

/* 2 */
section ul {
    list-style-type: none;
}

section ul li {
    margin: .5em 0;
}

/* 4 */
.disabled {
    color: gray;
}

/* 5 */
.active {
    color: yellow;
}

a .disabled {
    color: purple;
}

/* 8 */
.parent div div:first-child {
    color: red;
}

/* 9 */
.parent div div {
    color: blue;
}

/* 10 */
.parent div > div:first-child + h4 {
    background-color: red;
}

/* 11 */
.parent div > div + h4 {
    background-color: blue;
}

/* 12 */
.grandparent > h4 {
    border: 1px solid black;
    border-radius: 5px;
}

/* 13 */
.promo {
    font-weight: bold;
    color: gold;
}

/* 14 */
input {
    height: 25px;
}